<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>First App on FastAPI</title>
  </head>
  <body>
    {% include 'navigator.html' %}.
    <section class="desc_fastapi">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">FastAPI</h5>
              <p class="card-text">FastAPI активно использует декораторы, аннотации типов и интроспекцию кода, что позволяет уменьшить количество шаблонного кода в веб-приложении. FastAPI автоматически генерирует и отображает документацию согласно спецификации OpenAPI</p>
              <a href="https://fastapi.tiangolo.com/" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Запуск FastAPI приложения</h5>
              <p class="card-text"><p>Команда uvicorn main:app обращается к:
                main: файл main.py (модуль Python).
                app: объект, созданный внутри файла main.py в строке app = FastAPI().
              --reload: перезапускает сервер после изменения кода. Используйте только для разработки.</p></p>
              <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>
</html>